@model IEnumerable<ClinicaVeterinaria.Data.Entities.Client>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="section_tittle text-center">
        <h1>List of Clients <i class="fas fa-clipboard-list"></i></h1>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 30px;margin-top: -10px">
        <p>
            <a asp-action="Create" class="btn btn-primary" style="text-align:center"><i class="fas fa-plus-circle"></i> Create New</a>
        </p>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 19rem;">
                <img src="@Url.Content(item.ImageFullPath)" class="card-img-top" alt="Vet" style="width:100%; height:320px">
                @*<img src="@Url.Content(item.ImageUrl)" class="card-img-top" alt="Vet">*@
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</h5>
                    <br />
                    <p class="card-text"></p>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-user-edit"></i>Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-info-circle"></i>Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-user-minus"></i>Delete</a>
                </div>
            </div>
        }
    </div>
</div>







@*<h2><i class="fas fa-user-edit"></i>List of Clients</h2>
<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                 {
                    <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto;" />
                 }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-user-edit"></i> Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-info-circle"></i> Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-user-minus"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
