@model ClinicaVeterinaria.Data.Entities.VetAppointment
@{
    ViewData["Title"] = "Delete";
}

<div class="col-sm-9 col-xs-12 pull-left">
    <h2><i class="fas fa-user-minus"></i> Delete</h2>
    <hr />
    <br />

    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.AnimalName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.AnimalName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.VetName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.VetName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Room)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Room)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Date)
                </dd>
            </dl>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-danger"><i class="fas fa-user-minus"></i> Delete</button>
        <a asp-action="Index" class="btn btn-success"><i class="fas fa-backward"></i> Back to List</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

