@model ClinicaVeterinaria.Data.Entities.Vet

@{
    ViewData["Title"] = "Details";
}

<div class="col-sm-9 col-xs-12 pull-left">
    <h2><i class="fas fa-info-circle"></i> Details</h2>
    <hr />
    <br />

    <div>
        <div class="row">
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Age)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto;" />
                }
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fas fa-user-edit"></i> Edit</a> &nbsp
        <a asp-action="Index" class="btn btn-success"><i class="fas fa-backward"></i> Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
